<form action="/updated_bookmark", method="post">
  <input type="text" name="url" value="<%= @bookmark[0].url %>">
  <input type="text" name="title" placeholder="<%= @bookmark[0].title %>">
  <input type="submit" value="Submit">
</form>
