<ul>
  <% @bookmarks.each do |bookmark|  %>
  <li> <a href=<%=bookmark[1]%> > <%=bookmark[0]%> </a> </li>
  <% end %>
</ul>

<form action="/add_bookmark", method="get">
  <input type='submit' name='bookmark' value='add bookmark'/>
</form>
