<ul>
  <% @bookmarks.each do |bookmark|  %>
  <li> <a href=<%=bookmark.url%> > <%=bookmark.title%> </a>
  <form action='/delete_bookmark' method='post'>
    <input type=hidden name=id value='<%=bookmark.id%>'>
    <input type='submit' name='delete' id='<%=bookmark.id%>' value="delete">
  </form></li>
  <% end %>
</ul>

<form action='/add_bookmark' method='get'>
  <input type='submit' name='bookmark' value='add bookmark'/>
</form>
