<ul>
  <% @bookmarks.each do |bookmark|  %>
  <li> <a href=<%=bookmark.url%> > <%=bookmark.title%> </a>
  <% # button for delete with id as value %></li>
  <% end %>
</ul>

  <input type='submit' name='bookmark' value='add bookmark'/>
</form>
